/* rest basico */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
/* usamos flexbox para organizar el contenido de la página */


body{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#header-principal{

    background-color: aqua;
    color: black;
    padding: 20px;
    
}


nav ul{
    gap: 20px;
    
}


nav a{
    text-decoration: none;
    color: rgb(21, 84, 155);
    padding: 10px 15px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}


section{
    background-color: rgb(59, 166, 185);
    padding: 20px;
    border-radius: 5px;
}

button.btn{
    background-color: rgb(17, 100, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


#banner-anuncios{
    background-color: rgb(25, 145, 185);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}   

footer{  
    background-color: aqua;
    color: black;
    text-align: center;
    
}


